auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 0  # disable gRPC

ingester:
  wal:
    enabled: false
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

schema_config:
  configs:
    - from: 2025-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /tmp/loki/index
    cache_location: /tmp/loki/cache
  filesystem:
    directory: /tmp/loki/chunks

limits_config:
  allow_structured_metadata: false

# minimal compactor section for dev
compactor:
  working_directory: /tmp/loki/compactor
  retention_enabled: false

