server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4318

ingester:
  trace_idle_period: 5m
  max_block_bytes: 104857600

storage:
  trace:
    backend: local
    local:
      path: /var/tempo

